@import url("https://use.typekit.net/jmk3xov.css");

: root {
  --dark-bg: rgba(25, 86, 136, 0.65);
  --spacing: 350px;

  font-family: sans-serif, sans-serif;
  font-weight: 400;
  font-style: Great Vibes;
}


main {
  width: 100vw;
  color: rgb(185, 148, 121);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: Palatino, sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

p {
  background-color:rgba(12, 35, 54, 0.863);
}

canvas {
  background-color:rgba(12, 35, 54, 0.863);
  position:fixed;
  top: 0;
  left:0;
}



  header {
    background: var(--dark-bg);
    
    grid-column: 1 / span 5;
    font-size: 1.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
   
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  .left {
    grid-column: 6 / 12;
  }